---
interface Props {
  narrow?: boolean;
  class?: string;
}

const { narrow = false, class: className } = Astro.props;
---

<div class:list={['center', narrow && 'center--narrow', className]}>
  <slot />
</div>

<style>
  .center {
    width: min(100%, var(--size-content));
    margin-inline: auto;
  }

  .center--narrow {
    max-width: var(--size-narrow);
  }
</style>
